.header__logo {
    width: 142px;
    color: #fff;
    padding: 0;
    margin: 0 0 36px;
}

@media screen and (max-width: 920px) {
    .header__logo {
        padding-left: 27px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 104px;
        margin: 0 0 28px;
    }
}