.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    max-width: 294px;
    min-width: 189px;
    padding: 0;
}

@media screen and (max-width: 540px) {
    .profile__name {
        margin-left: 27px;
        font-size: 27px;
        line-height: 33px;
        max-width: 189px;
    }
}


