.register__button {
    height: 50px;
    border: none;
    border-radius: 2px;
    background: #ffffff;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 187px;
  }
  
  @media screen and (max-width: 600px) {
    .register__button {
      margin-top: 142px;
      font-size: 16px;
      line-height: 19px;
      height: 46px;
    }
  }