.header__email {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: block;
    margin: 0;
    padding: 0;
    padding-right: 22px;
    box-sizing: border-box;
    align-items: right;
  }
  @media screen and (max-width: 600px) {
    .header__email {
      margin-top: 40px;
      padding-right: 0;
    }
  }