.card__like {
    border: 0;
    background: none;
    background-image: url(../../../images/like.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    transition: .8s;
    color: #000;
    cursor: pointer;
    padding: 0;
    margin: auto;
    margin-right: 20px;
    margin-bottom: 30px;
}

.card__like:hover {
    opacity: .5;
}

